.descriptionCard {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .descriptionCardList{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  
.boxCards::-webkit-scrollbar {
    width: 7px;
    height: 6px;
    border-radius: 20px;
    background-color: #24242418;
  
  }
  
  .boxCards::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #24242459;
  }