@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/clash-display?styles=106288,106285,106286,106287,106289,106284");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #00082f;
  color: white;
}

:root {
  background: #00082f;
}

.titleHead,
.textPredictive,
.titleForm {
  font-family: "Clash Display", sans-serif;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: #7c1dc9;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background-color: #7c1dc9;
}

::-webkit-scrollbar {
  background-color: #060011;
  width: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #897ca8;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #2c2836;
}

.Toastify__toast-container {
  z-index: 9999999 !important;
}

.Toastify__toast-theme--light {
  background: #06001a !important;
  color: white !important;
}

.Toastify__close-button > svg {
  fill: white !important;
}
