@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Clash Display Bold';
  src: url('/assets/fonts/ClashDisplayBold.woff') format('woff');
  font-weight: bold; 
  font-style: normal; 
}

.titleHead, .textPredictive, .titleAbout , .title_card {
  font-family: 'Clash Display', sans-serif; 
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #FEFEFE;
  color: white;
}

:root {
  background: #FEFEFE;
}
 

::selection {
  color: rgb(255, 255, 255);
  background-color: #7c1dc9;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background-color: #7c1dc9;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


/* Para Internet Explorer 10+ */
input[type=number]::-ms-clear,
input[type=number]::-ms-reveal {
    display: none;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: rgba(36, 36, 36, 0.534);
}

::-webkit-scrollbar-thumb:hover {
  background: #464646d7;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #383838ce;
}



.Toastify__toast-container {
  z-index: 9999999 !important;
}

.Toastify__toast-theme--light {
  background: #06001a !important;
  color: white !important;
}

.Toastify__close-button > svg {
  fill: white !important;
}
