

.white {
    position: relative; 
}

.white::after {
    content: '';
    position: absolute;
    background-image: url('/assets/image/white2.webp'); 
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: -1; 
}

/* .titleForm {
    font-family: "Clash Display", sans-serif; 
}
 */